
.quiz-container{
    background-color: white;
    margin: 5%;
    border: 2px solid black;
    padding: 5%;
}
.questions_numbers{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.questions{
    flex: 1;
}
.option_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2%;
}
.q-item{
    width: 400px;
    background-color: red;
    border: 1px solid blueviolet;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}